<h2> In da cocktails</h2>

<% @cocktails.each do |cocktail|%>
<ol>
  <li><%=link_to cocktail.name, cocktail_path(cocktail), class:'btn btn-danger'%></li>
</ol>
<% end %>

<%= link_to "add your cocktail", new_cocktail_path %>


