<h1>Salut doude ! Tu bois quoi ?</h1>

<%= form_for(@cocktail) do |f| %>
  <% if @cocktail.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @cocktail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, class:"form-control"%>
  <%= f.submit class: "btn btn-success"%>

<% end %>

