.card {
  padding: 20px;
  height: 300px;
  width: auto;
  margin: 100px;
}
.image_cocktail{
  height:300px;
  width:300px;
}

h2 {
  background-image:url(../images/mamie.jpg);
  background-size: cover;
  margin-top:100px;
}

.form{

  background-color: white;
  border: 1px solid lightgray;
  border-radius: 6px;
  display: block;
  margin:auto;
  width: 50%;
  margin-top: 7%;
}

form{
  margin: 30px;
}

.new{
  display:block;
  margin: auto;
}